@import "tailwindcss";

@layer utilities {
  .clip-pacman {
    clip-path: polygon(100% 0%, 100% 35%, 50% 50%, 100% 65%, 100% 100%, 0% 100%, 0% 0%);
  }
}

/* Custom retro styling */
body {
  background-color: #030712;
  color: #f8fafc;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #090d16;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
